body {
    font-family: Arial, sans-serif;
    background-image: url('gambar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
}
